<div id="nav">
    <a href="/" id="title">PLAYLISTS BY...</a>
    <a href="/Mood">Mood</a>
    <a href="/Artist">Artist</a>
    <a href="/Length">Length</a>
    <a href="/Curator">Curator</a>
    <a href="/Random">Random</a>
    {{#if onHome}}
    <input id="search" type="text" placeholder="Search by name">
    {{/if}}
</div>
<hr>