<div id="nav">
    <a href="/" id="title">PLAYLISTS BY...</a>
    <a href="/Mood">Mood</a>
    <a href="/Artist">Artist</a>
    <a href="/Length">Length</a>
    <a href="/Curator">Curator</a>
    <a href="/Random">Random</a>
    {{#if onHome}}
    <input id="search" type="text" placeholder="Search by title">
    {{/if}}
</div>
<hr>

<script>
    function checkSearch(value) {
        console.log("VALUE: " + value);
        var url = "/search/" + value;
        console.log("URL: " + url);

        if (url === "/search/") {
            $.get("api/getPlaylists", function(data){
                $('#left').html("");
                $.each(data, function (index, elem) {
                    var card =
                        `<article id="displayCard">
                        {{!-- display picture --}}
                        <span id="displayLeft">
                            <div id="displayCover">
                                <img src=${elem.cover} />
                            </div>
                        </span>
                        {{!-- display other info --}}
                        <span id="displayRight">
                            <span id="playTitle">${elem.title}</span> <a href=${elem.link} id="playLink">(Listen)</a>
                            <div id="space"></div>
                            <span class="playInfo">By: ${elem.curator}</span>
                            <div id="space"></div>
                            <span class="playInfo">Length: ${elem.numSongs} songs</span>
                            <div id="space"></div>
                            <div><span id="playTags" class="playInfo">Moods: ${elem.tags}<span>
                        </span>
                    </article>
                    <br>`;
                    $('#left').append(card);
                });

                if ($('#left').html() == "") {
                    var msg = `<article style="padding-left: 10px;">
                                    <h2>No playlists yet - be the first to add one!</h2>
                                </article>`
                    $('#left').html(msg);
                }
            });
        } else {
            $.get(url, function (data) {
                $('#left').html("");
                $.each(data, function (index, elem) {
                    var card =
                        `<article id="displayCard">
                        {{!-- display picture --}}
                        <span id="displayLeft">
                            <div id="displayCover">
                                <img src=${elem.cover} />
                            </div>
                        </span>
                        {{!-- display other info --}}
                        <span id="displayRight">
                            <span id="playTitle">${elem.title}</span> <a href=${elem.link} id="playLink">(Listen)</a>
                            <div id="space"></div>
                            <span class="playInfo">By: ${elem.curator}</span>
                            <div id="space"></div>
                            <span class="playInfo">Length: ${elem.numSongs} songs</span>
                            <div id="space"></div>
                            <div><span id="playTags" class="playInfo">Moods: ${elem.tags}<span>
                        </span>
                    </article>
                    <br>`;
                    $('#left').append(card);
                });

                if ($('#left').html() == "") {
                    var msg = `<article style="padding-left: 10px;">
                                    <h2>No playlists matched "${value}"</h2><h4>Try another search, or add a playlist!</h4>
                                </article>`
                    $('#left').html(msg);
                }
            });
        }
    }

    $('#search').keyup(function(event){
        checkSearch(event.target.value);
    });
</script>
