<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>

<div id="top">
  {{>nav}}
</div>

<body>
  {{!-- where the posts will be displayed --}}
  <div id="left">
    {{{body}}}
  </div>
  
  {{!-- where user has option to add a playlist --}}
  {{>addOption}}
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    
  </script>
</body>

</html>
